.wrapper {
  margin: 0 auto;
  padding: 20px;
  width: 700px;
}

.user-form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 2px solid grey;

  &__avatar,
  &__name,
  &__username {
    margin-bottom: 10px;
    padding: 5px;
    font-size: 16px;
  }

  &__button-confirm {
    font-size: 18px;
    padding: 10px;
  }
}